<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/application</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="connection_pool_size">true</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="cache.providerclass">org.hibernate.NoCacheProvider</property>

        <mapping class="com.saa.web.entity.authentication.AuthenticationToken"/>
        <mapping class="com.saa.web.entity.authentication.Organization"/>
        <mapping class="com.saa.web.entity.authentication.Company"/>
        <mapping class="com.saa.web.entity.authentication.User"/>

        <mapping class="com.saa.web.entity.held.City"/>
        <mapping class="com.saa.web.entity.held.State"/>
        <mapping class="com.saa.web.entity.held.Country"/>
        <mapping class="com.saa.web.entity.held.Cst"/>
        <mapping class="com.saa.web.entity.held.Cfop"/>
        <mapping class="com.saa.web.entity.held.Sped"/>

        <mapping class="com.saa.web.entity.manager.DocumentItem"/>
        <mapping class="com.saa.web.entity.manager.DocumentHeader"/>
        <mapping class="com.saa.web.entity.manager.DocumentInstallment"/>

        <mapping class="com.saa.web.entity.register.Person"/>
        <mapping class="com.saa.web.entity.register.PersonGroup"/>
        <mapping class="com.saa.web.entity.register.PersonCompany"/>
        <mapping class="com.saa.web.entity.register.Product"/>
        <mapping class="com.saa.web.entity.register.ProductGroup"/>
        <mapping class="com.saa.web.entity.register.Unit"/>
        <mapping class="com.saa.web.entity.register.Vehicle"/>

        <mapping class="com.saa.web.entity.tillage.ApplianceFieldType"/>
        <mapping class="com.saa.web.entity.tillage.ApplianceVehicleType"/>
        <mapping class="com.saa.web.entity.tillage.ContractType"/>
        <mapping class="com.saa.web.entity.tillage.Cycle"/>
        <mapping class="com.saa.web.entity.tillage.DiscountType"/>
        <mapping class="com.saa.web.entity.tillage.ExchangeConfiguration"/>
        <mapping class="com.saa.web.entity.tillage.Harvest"/>
        <mapping class="com.saa.web.entity.tillage.HarvestConfiguration"/>
        <mapping class="com.saa.web.entity.tillage.Plot"/>
        <mapping class="com.saa.web.entity.tillage.PlotType"/>
        <mapping class="com.saa.web.entity.tillage.ServiceType"/>
        <mapping class="com.saa.web.entity.tillage.WorkOnVehicle"/>

        <mapping class="com.saa.web.entity.tributary.NegativeCertificate"/>
        <mapping class="com.saa.web.entity.tributary.RestrictionTax"/>
        <mapping class="com.saa.web.entity.tributary.RulingFiscal"/>
        <mapping class="com.saa.web.entity.tributary.Numerator"/>
        <mapping class="com.saa.web.entity.tributary.Currency"/>
        <mapping class="com.saa.web.entity.tributary.OperationRule"/>
        <mapping class="com.saa.web.entity.tributary.OperationType"/>
        <mapping class="com.saa.web.entity.tributary.PaymentType"/>

        <mapping class="com.saa.web.entity.system.Setting"/>
        <mapping class="com.saa.web.entity.system.Email"/>

    </session-factory>
</hibernate-configuration>